{% extends 'base.html.twig' %}

{% block title %}Déposer une Facture{% endblock %}

{% block body %}
    <div class="container">
        <h1>Déposer une Facture pour {{ association.nom }}</h1>
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
            <div class="form-group">
                {# Ajout de l'attribut 'multiple' et adaptation du 'name' pour les fichiers multiples #}
                {{ form_widget(form.pdfContent, { 'attr': {'class': 'form-control-file', 'multiple': 'multiple', 'name': 'pdfContent[]'} }) }}
            </div>
            <div class="form-group">
                {{ form_row(form.pdfFilename, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
