{% extends 'base.html.twig' %}

{% block title %}Factures{% endblock %}

{% block body %}
    <h1>Factures pour {{ association.nom }}</h1>

    {% if factures is empty %}
        <p>Aucune facture</p>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Nom du fichier</th>
                    <th>Mis en ligne le</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for facture in factures %}
                    <tr>
                        <td>{{ facture.nom }}</td>
                        <td>{{ facture.pdfFilename }}</td>
                        <td>{{ facture.createdAt|date('d/m/Y') }}</td>
                        <td>
                            <a href="{{ path('download_pdf', {'id': facture.id}) }}" target="_blank" class="btn btn-primary">Télécharger</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
