{% extends 'base.html.twig' %}

{% block title %}Liste des Factures{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Liste des Factures</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Date de la facture</th>
                <th>Mis en ligne le</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for facture in factures %}
                <tr>

                    <td>{{ facture.pdfFilename }}</td>
                    <td>{{ facture.createdAt|date('Y-m-d H:i:s') }}</td>
                    <td>
                        {% if facture.pdfContent %}
                            <a href="{{ path('download_pdf', { 'id': facture.id }) }}" target="_blank">Voir la facture</a>
                        {% else %}
                            Pas de facture disponible
                        {% endif %}
                        <a href="{{ path('edit_facture', { 'id': facture.id }) }}" class="btn btn-primary">Modifier</a>
                        
                        {# Formulaire pour supprimer la facture #}
                        <form method="post" action="{{ path('delete_facture', { 'id': facture.id }) }}" class="delete-form" data-id="{{ facture.id }}" style="display:inline;">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ facture.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deleteForms = document.querySelectorAll('form.delete-form');

            deleteForms.forEach(form => {
                form.addEventListener('submit', function (event) {
                    event.preventDefault();
                    
                    if (confirm('Êtes-vous sûr de vouloir supprimer cette facture?')) {
                        const id = form.dataset.id;
                        const token = form.querySelector('input[name="_token"]').value;
                        
                        fetch(`/factures/delete/${id}`, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRF-TOKEN': token
                            }
                        })
                        .then(response => {
                            if (response.ok) {
                                window.location.reload();
                            } else {
                                alert('Une erreur est survenue.');
                            }
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}
