{% extends 'base.html.twig' %}

{% block title %}Regions{% endblock %}

{% block body %} 

    {# <a href="{{ path('app_register') }}">Licence comptoir</a> / <a href=''>Licence internet</a>
    <h2>Renouveller une licence</h2>  #}
    {# TOP #}
    <h1 style='padding-top:0.2%;text-align:center;color:#43A3C8;font-weight:bold'>Régions</h1>
    <p style='text-align:center'>{{ app.user.nom }}</p>
    <hr style='background-color:black;border-none;height:0.5px;margin-right:-100%;margin-left:-100%'>

    <div style='border:2px solid #818181; border-radius: 30px; margin-left:35%; margin-right:35%; padding:10px'>
    <p style='margin-top:3%'>Export des régions</p>
    {{ form_start(form, {'action': path('regions_export'), 'method': 'POST'}) }} {# Ajoutez l'action et la méthode POST #}
        <div>
            {{ form_row(form.dateDebut, {'label': 'Date de début'}) }} {# Rendu du champ dateDebut #}
        </div>
        <div>
            {{ form_row(form.dateFin, {'label': 'Date de fin'}) }} {# Rendu du champ dateFin #}
        </div>
    {{ form_end(form) }} {# Fin du formulaire Symfony #}
</div>




    <table class="table table-striped" style="margin-top:5%;margin-left:10%;width:82%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Région</th>
                <th>Président(e)</th>
                {# <th>Email_president</th> #}
                {# <th>Telephone_president</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for region in regions %}
            <tr>
                <td>{{ region.id }}</td>
                <td>{{ region.nom }}</td>
                <td>{{ region.nomPresident }} {{ region.prenomPresident }}</td>
                {# <td>{{ region.emailPresident }}</td> #}
                {# <td>{{ region.telephonePresident }}</td> #}
                <td>
                    <a href="{{ path('regions_show', {'id': region.id}) }}">Voir | </a>
                    <a href="{{ path('regions_edit', {'id': region.id}) }}">Changer de président |</a>
                    <a href="{{ path('statistiques_regions', {'id': region.id}) }}">Statistiques</a>
                </td> 
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
