{% extends 'base.html.twig' %}

{% block title %}FFNPRO{% endblock %}

{% block body %} 
    <h1 style='padding-top:0.2%;text-align:center;color:#43A3C8;font-weight:bold'>Licencié(e)s</h1>
    <p style='text-align:center'>{{ app.user.nom }}</p>
    <hr style='background-color:black;border-none;height:0.5px;margin-right:-100%;margin-left:-100%'>
    {% for users in user %}
        {% if users.email is null or users.email is empty %}
            <p style='font-size: 10em;text-align:center'>❌</p>
            <p style='text-align:center'>Le licencié <b>{{users.nom}} {{users.prenom}}</b> n'a pas reçu son QRCode car il n'a pas renseigné d'email dans sa fiche licencié.<br></p>
        {% else %}
            <p style='font-size: 10em;text-align:center'>✔️</p>
            <p style='text-align:center'>Le licencié <b>{{users.nom}} {{users.prenom}}</b> a reçu son QRCode par mail.<br></p>
        {% endif %}
    {% endfor %}

        <a href="{{ path('accueil') }}" class="btn btn-primary" style='margin-top:3%;margin-bottom:3%;margin:auto;display:block;width:30%'>Retour au menu principal</a>
{% endblock %}
