{% extends 'base.html.twig' %}

{% block title %}Dirigeants{% endblock %}

{% block body %}
    {# TOP #}
    <h1 style='padding-top:0.2%;text-align:center;color:#43A3C8;font-weight:bold'>Dirigeants</h1>

    <p style='text-align:center;margin-bottom:5%'>{{ app.user.nom }}</p>

    <table class="table table-striped" style='border 0px'>
        <tbody>
            <tr>
                <th>Président(e)</th>
                <td>{{ dirigeant.president }}</td>
            </tr>
            <tr>
                <th>Vice Président(e)</th>
                <td>{{ dirigeant.vicePresident }}</td>
            </tr>
            <tr>
                <th>Trésorier(e)</th>
                <td>{{ dirigeant.tresorier }}</td>
            </tr>
            <tr>
                <th>Secrétaire Général</th>
                <td>{{ dirigeant.secretaire }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('dirigeants_edit', {'id': dirigeant.id}) }}" class='btn btn-success' style='float:left;margin-top:3%;margin-left:42%'>Modifier les informations</a>


{% endblock %}
