{% extends 'base.html.twig' %}

{% block title %}FFNPRO{% endblock %}

{% block body %} 
    <h1 style='padding-top:0.2%;text-align:center;color:#43A3C8;font-weight:bold'>Centres</h1>
    <p style='text-align:center'>{{ app.user.nom }}</p>
    <hr style='background-color:black;border-none;height:0.5px;margin-right:-100%;margin-left:-100%'>
   <p style='font-size: 10em;text-align:center'>✔️</p>
        <p style='text-align:center'>Le/la licencié(e) <b>{{users.nom}} {{users.prenom}} né(e) le {{ users.anniversaire|date('Y-m-d') }}</b> à été modifié avec succès.</p>
        <div style="text-align: center;">
            <a href="{{ path('users_renouvellement', {'id': users.id}) }}" class='btn btn-success' style='display: inline-block; margin-right: 10px;'>Renouveller la licence</a>
            <a href="{{ path('accueil') }}" class="btn btn-primary" style='display: inline-block;'>Retour au menu principal</a>
        </div>
{% endblock %}
